{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <title>detail</title>
</head>
<body>
    <div class="p-3 mb-2 bg-dark text-white">ぐるなび レストラン検索</div>
    <div class="col-12">
    <div class="mx-auto">
    <div id="detail">

    <div class="text-center">
        <div class="card mx-auto col-10 col-md-8 col-lg-6">
            <img src="{{ image_src }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">{{ name }}</h1>
                <h4 class="card-text">開店時間: {{ opentime }}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ address }}<br>{{ access }}分</li>
                <li class="list-group-item">TEL: {{ tell }}</li>
                <li class="list-group-item">休日: {{ holiday }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ url }}" class="card-link">PC用サイト</a>
                <a href="{{ url_moible }}" class="card-link">携帯用サイト</a>
            </div>
        </div>
    </div>

    </div>
    </div></div>

    <a href="{% url 'index' %}">
    <button class="btn btn-light m-4">トップページへ</button>
    </a>

    <footer>
        Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/detail.js' %}"></script>
</body>
</html>