{% load static %}

<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel = "stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<title>ぐるなび レストラン検索</title>

<body>
    <div class="p-3 mb-2 bg-dark text-white">ぐるなび レストラン検索</div>
    <form name="mainform" method = "GET">
    <div class="row justify-content-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label type="button" class="btn btn-outline-primary disabled">半径を選択</label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option0" onclick="gnaviFreewordSearch(range=1, offset=1, hit_per_page=16);"> 300m
        </label>
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" onclick="gnaviFreewordSearch(range=2, offset=1, hit_per_page=16);" checked> 500m
            </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" onclick="gnaviFreewordSearch(range=3, offset=1, hit_per_page=16);"> 1km
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option3" onclick="gnaviFreewordSearch(range=4, offset=1, hit_per_page=16);"> 2km
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="option4" onclick="gnaviFreewordSearch(range=5, offset=1, hit_per_page=16);"> 3km
        </label>
    </div>
    <!-- <button class="btn btn-primary" onclick="gnaviFreewordSearch(range=2, offset=1, hit_per_page=16);">現在地から検索</button> -->
    </div>
    </form>
<div id="shops" class="row m-1">
    <div id = "shopinfo0" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo1" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo2" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo3" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo4" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo5" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo6" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo7" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo8" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo9" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo10" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo11" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo12" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo13" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo14" class="col-6 col-md-4 col-lg-3"></div>
    <div id = "shopinfo15" class="col-6 col-md-4 col-lg-3"></div>
</div>

<nav aria-label="...">
    <ul class="pagination" id="offsetNum">
        
    </ul>
</nav>

</body>

<footer>
    Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/index.js' %}"></script>

</html>